body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.w3-sidebar {width: 120px;background: #222;}
#main {margin-left: 120px}
@media only screen and (max-width: 600px) {#main {margin-left: 0}}


.link-hover {
    box-shadow: inset 0 0 0 0 white;
    color: gray;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .link-hover:hover {
    box-shadow: inset 400px 0 0 0 gray;
    color: white;
  }

  .name {
    color: inherit;
    text-decoration: none;
  }
  
  .name {
    background:
      linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .name:hover {
    background-size: 0 3px, 100% 3px;
  }

  .profile {
      border-radius: 250px;
  }